---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_name_docker_registry }}
  namespace: default
spec:
  storageClassName: {{ docker_registry_stoage_class_name }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ docekr_registry_storage_size }}
